<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>火天信直播间</title>
<link href="css/style.css" rel="stylesheet">
<script src="js/jquery-1.11.2.min.js"></script>
</head>
<body class="bg">
<div class="live_box" id="video_main_url"></div>
<div class="mote_box">
	<h1 class="mote_box_h1">火天信简易直播间</h1>
	<div class="liaotian">		
			<div class="liaoqu1">
				<div class="liaotian_append">
					<div class="liaoqu1_in">
						<p style="height:25px;line-height:25px;"><font style="color:#a0d48f;">房主  &nbsp; 2018-5-30 10:37</font></p>
						<p style="color:#dccfcf;font-size: 15px;">欢迎来到火天信简易直播间！</p>
					</div>
				</div>
			</div>
			<div class="liaoqu2">
				<div class="liaoqu2_in">路人甲  &nbsp; 进入房间</div>
				<div class="liaoqu2_in">路人乙  &nbsp; 进入房间</div>
			</div>			
	</div>
	<div class="senddata">
		<textarea name="body" id="textarea-d"></textarea>
		<input type="hidden" id="name" value="路人<?php echo $luren_name;?>"/>
		<input type="hidden" id="days" value="<?php echo date('Y-m-d H:i:s');?>"/>
		<p><input type="button" value="你是路人<?php echo $luren_name;?>@ 发言" style="height:50px;" onclick="SendDatas()"/></p>
	</div>
</div>

<script src="ckplayer/ckplayer.js" charset="UTF-8"></script>
<script src="js/live.js"></script>
<script>
	var ws = new WebSocket("ws://120.76.72.28:9502");
	
	ws.onopen = function(evt) { 
		console.log("路人<?php echo $luren_name;?>");	
		setTimeout(SendDatasWenWen,3000);
	};
	
	function SendDatas(){ 
		var d = $("#textarea-d").val();
		var c = d.replace(/[\n\t\s]+/g,'');
		var u = $("#name").val();
		var t = $("#days").val();
		if(c!=''){			
			ws.send('send&'+u+'&'+t+'&'+c);
		}
	}
	
	var scrollHeight = $(".liaotian_append").height();
	$(".liaoqu1").scrollTop(scrollHeight);
	var num = 0;
	
	ws.onmessage = function(evt) {
			var obj =eval("("+evt.data+")");		
			if( obj.error == 0 ){
				var len = obj.txt.length;
				if( num==0 || num != len ){
					var html = '';
					$(".liaotian_append").empty();
					for(var i=0;i<len;i++){
						var s = obj.txt[i].split('&');
						html += '<div class="liaoqu1_in">';
						html += '<p style="height:25px;line-height:25px;"><font style="color:#a0d48f;">'+s[4]+'.'+s[1]+'  &nbsp; '+s[2]+'</font></p>';
						html += '<p style="color:#dccfcf;font-size: 15px;">'+s[3]+'</p>';
						html += '</div>';
					}
							
					$(".liaotian_append").append(html);	
					
					var scrollHeight = $(".liaotian_append").height();
					$(".liaoqu1").scrollTop(scrollHeight);
				}
				num = obj.num;
			}
	};

	function SendDatasWenWen(){ 
		ws.send('onsend&kankan');
		setTimeout(SendDatasWenWen,3000);
	}
	
	ws.onclose = function(evt) {
	  //console.log("Connection closed.");
	  ws.close();
	}; 
	//http://120.76.72.28/service/client.php
	
</script>
</body>
</html>